<html ng-app="LightsOut">

<head>
    <meta charset="UTF-8">
    <title>The New Lights Out</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="assets/styles/style.css">
</head>

<body ng-controller="MainController as mc">
    <!--<form ng-submit="mc.makegrid(g)">-->
        <input ng-model="g" type="number" placeholder="base number of cells">
        <button ng-click="mc.makegrid(g)">Make Pyramid</button>
    <!--</form>-->
    <button ng-click="mc.randgrid()">Randomize</button>
    <div class="row" ng-repeat="row in mc.grid" ngclass>
        <div class="col" ng-repeat="cell in row">
            <div class="cell" ng-class="{'lit': cell.lit}" ng-click="mc.activate(cell)"></div>
        </div>
    </div>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="app/controller/maincontroller.js"></script>
</body>

</html>