.row{
    text-align: center;
}
.cell{
    border: 2px solid black;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 7px;
}
.cell:hover{
    background-color: orange
}
.col{
    display: inline-block;
}
.lit1{
    background-color: #082;
}
.lit2{
    background-color: #0d2
}